body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #290693;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.card.large {
    grid-column: span 2;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

form button {
    background: #062688;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #0d34a8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background: #4c5caf;
    color: white;
}

table tr:nth-child(even) {
    background: #f2f2f2;
}

button.delete-btn {
    background: #2d0474;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

button.delete-btn:hover {
    background: #48a3e0;
}
.chart-container {
    width: 280px;   /* desired width */
    height: 280px;  /* desired height */
    margin: auto;
}

#adherenceChart {
    width: 100%;
    height: 100%;
    display: block;
}


